<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Marcenaria Godoy</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Marcenaria_Godoy.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/contact.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white">
            <div class="container-fluid logo">
                <a class="navbar-brand logotipo" asp-area="" asp-controller="Home" asp-action="Index">Marcenaria Godoy</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="menu navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutUs">Quem Somos</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true"aria-expanded="false">
                                Ambientes
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li>@Html.ActionLink("Banheiro", "Bathroom", "Home", new { area = "" }, new { @class = "dropdown-item" })</li>
                                <li>@Html.ActionLink("Quarto", "Bedroom", "Home", new { area = "" }, new { @class = "dropdown-item" })</li>
                                <li>@Html.ActionLink("Espaço Kids", "Kids", "Home", new { area = "" }, new { @class = "dropdown-item" })</li>
                                <li>@Html.ActionLink("Cozinha", "Kitchen", "Home", new { area = "" }, new { @class = "dropdown-item" })</li>
                                <li>@Html.ActionLink("Escritório", "Office", "Home", new { area = "" }, new { @class = "dropdown-item" })</li>
                                <li>@Html.ActionLink("Salas", "Room", "Home", new { area = "" }, new { @class = "dropdown-item" })</li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/Contact/">Contato</a>
                        </li>
                        <li class="nav-item icones"><a href="https://www.instagram.com/marcenariagodoy/"><img src="~/assets/images/instagram.png"/></a></li>
                    </ul>
                </div>
                
            </div>
        </nav>
    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Marcenaria Godoy - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
